<ion-view view-title="Mesas">
  <ion-content>
    <ion-list>
      <a  ng-repeat="mesa in mesas" href="#/app/mesas/{{mesa.id}}">
      <div class="card">
        <div class="row">
          <div class="col col-25">
              <div class="col text-center">
                <h1>{{mesa.nMesa}}</h1>
              </div>
              <div class="col text-center">
                <h3 style="display:inline;">{{mesa.nPax}}</h3>
                <h4 style="display:inline;">PAX</h4>
              </div>
          </div>
          <div class="col col-75">
              <div class="col text-center">
                <h2>SOME TEXT</h2>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col  text-center">
                    <h2>01:32</h2>
                  </div>
                  <div class="col  text-center">
                    <h2>10:03</h2>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </a>
    </ion-list>
  </ion-content>
</ion-view>
