
<ion-view view-title="Mesas">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-android-add-circle" ng-click="addTable()">
      </button>
    </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <a  ng-repeat="mesa in mesas" href="#/app/mesas/{{mesa.nMesa}}">
      <div class="card" ng-class="{
                                    'cardStatusOpen': mesa.status === 'open',
                                    'cardStatusStarter': mesa.status === 'starter',
                                    'cardStatusMain': mesa.status === 'main',
                                    'cardStatusDessert': mesa.status === 'dessert'
                                  }">
        <div class="row">
          <div class="col col-25">
              <div class="col text-center cardNumeroMesa">
                <h1>{{mesa.nMesa}}</h1>
              </div>
              <div class="col text-center">
                <h3 style="display:inline;">{{mesa.nPax}}</h3>
                <h4 style="display:inline;">PAX</h4>
              </div>
          </div>
          <div class="col col-75">
              <div class="col text-center">
                <h2>{{ mesa.status }}</h2>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col  text-center">
                    <h4>{{ (mesa.startedAt | amDifference : null : 'minute') | amDurationFormat : 'minute' }}</h4>
                  </div>
                  <div class="col  text-center">
                    <h2>10:03</h2>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </a>
    </ion-list>
  </ion-content>
</ion-view>
