<ion-view view-title="Controlar Mesa">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-android-add-circle" menu-toggle="right">
      </button>
    </ion-nav-buttons>
  <ion-content>
        <h1 class="text-center">MESA {{mesa.tableNumber}}</h1>
  </ion-content>
  <div class="tabs">
    <a class="tab-item" ng-class="{'cardStatusOpen': mesa.status === 'open'}" ng-click="changeStatus(mesa.tableNumber, 'open')">
      Open
    </a>
    <a class="tab-item" ng-class="{'cardStatusStarter': mesa.status === 'starter'}" ng-click="changeStatus(mesa.tableNumber, 'starter')">
      Starter
    </a>
    <a class="tab-item" ng-class="{'cardStatusMain': mesa.status === 'main'}" ng-click="changeStatus(mesa.tableNumber, 'main')">
      Main
    </a>
    <a class="tab-item" ng-class="{'cardStatusDessert': mesa.status === 'dessert'}" ng-click="changeStatus(mesa.tableNumber, 'dessert')">
      Dessert
    </a>
    <a class="tab-item" ng-click="changeStatus(mesa.tableNumber, 'close')">
      Close
    </a>
  </div>

</ion-view>
