<ion-view view-title="Controlar Mesa">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-android-add-circle" menu-toggle="right">
      </button>
    </ion-nav-buttons>
  <ion-content>
        <h1 class="text-center">MESA {{mesa.tableNumber}} <small>(ID:{{mesa.id}})</small></h1>
        <ion-list>
          <a  ng-repeat="product in mesa.products">
          <div class="card">
            <div class="row">
                <div class="col-sm-12">
                    {{product.name}} x {{product.qty}}
                </div>
            </div>
          </div>
        </a>
        </ion-list>
  </ion-content>
  <div class="tabs">
    <a class="tab-item" ng-class="{'cardStatusOpen': mesa.status === 'open'}" ng-click="changeStatus(mesa.id, 'open')">
      Open
    </a>
    <a class="tab-item" ng-class="{'cardStatusStarter': mesa.status === 'starter'}" ng-click="changeStatus(mesa.id, 'starter')">
      Starter
    </a>
    <a class="tab-item" ng-class="{'cardStatusMain': mesa.status === 'main'}" ng-click="changeStatus(mesa.id, 'main')">
      Main
    </a>
    <a class="tab-item" ng-class="{'cardStatusDessert': mesa.status === 'dessert'}" ng-click="changeStatus(mesa.id, 'dessert')">
      Dessert
    </a>
    <a class="tab-item" ng-click="changeStatus(mesa.id, 'close')">
      Close
    </a>
  </div>

</ion-view>
