<ion-view view-title="Controlar Mesa">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-android-add-circle" menu-toggle="right">
      </button>
    </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item href="#/app/mesas/{{mesa.tableNumber}}">
        <h1 class="text-center">MESA {{mesa.tableNumber}}</h1>
        <h4>{{mesa.pax}} PAX</h4>
        <h4>ID: {{mesa.id}}</h4>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="tabs">
    <a class="tab-item" ng-click="changeStatus(mesa.tableNumber, 'open')">
      Open
    </a>
    <a class="tab-item" ng-click="changeStatus(mesa.tableNumber, 'starter')">
      Starter
    </a>
    <a class="tab-item" ng-click="changeStatus(mesa.tableNumber, 'main')">
      Main
    </a>
    <a class="tab-item" ng-click="changeStatus(mesa.tableNumber, 'dessert')">
      Dessert
    </a>
    <a class="tab-item" ng-click="changeStatus(mesa.tableNumber, 'close')">
      Close
    </a>
  </div>

</ion-view>
